<div class="alert alert-success" role="alert" *ngIf="showAlert">
  {{ ProductName }} is added successfully to your cart
</div>
<div class="row my-3 allProducts">
  <div class="Products col-lg-12">
    <div class="row">
      <div class="title ml-3">
        <h3>Products</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3" *ngFor="let Product of products">
        <div class="product">
          <div class="img-holder">
            <img [src]="Product.ProductImg" alt="Product image" />
          </div>
          <div class="content">
            <p>
              <a
                [routerLink]="['/products/product-details', Product.ProductId]"
                >{{ Product.ProductName }}</a
              >
            </p>
            <div class="d-flex">
              <p class="col-sm-6 pl-0">
                Price :
                <span class="badge badge-success">
                  {{ Product.ProductPrice | currency: "USD" }}
                </span>
              </p>
              <p class="col-sm-6">
                Quantity:
                <span
                  [ngClass]="
                    Product.Quantity > 10 ? 'text-primary' : 'text-danger'
                  "
                >
                  {{ Product.Quantity }}
                </span>
              </p>
            </div>
            <button
              class="btn btn-primary col-sm-12 p-2"
              [ngClass]="{'btn-danger':Product.Quantity === 0,
              'btn-success': addedProductIds.includes(Product.ProductId)}"
              [disabled]="
                Product.Quantity === 0 ||
                addedProductIds.includes(Product.ProductId)
              "
              (click)="addOrder(Product)"
            >
              <span *ngIf="Product.Quantity != 0">{{
                addedProductIds.includes(Product.ProductId)
                  ? "In your cart"
                  : "Add to cart"
              }}</span>
              <span *ngIf="Product.Quantity === 0">Out of stock</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
