<div class="container-fluid">
    <div class="col-sm-12 empty-cart-cls text-center my-2" *ngIf="!cartItems.length">
      <img src="assets/images/icon-empty-cart.png" class="img-fluid mb-4">
      <h3><strong>Your Cart is Empty</strong></h3>
      <h4><strong>Add something to make me happy :)</strong></h4>
      <a class="btn btn-primary cart-btn-transform my-2" [routerLink]="['/products']">continue shopping</a>
    </div>
    <div class="row my-3"  *ngIf="cartItems.length">
     
      <div class="col-sm-12">
          <div class="card">
            <div class="alert alert-warning col-sm-12" role="alert" *ngIf="showAlert">
              This Product is out of stock now ..
            </div>
            <div class="card-header">
              <h5>Add To Cart</h5>
            </div>
            <div class="card-body cart">
              <div class="table-responsive">
                <table class="table table-bordernone">
                  <thead>
                    <tr>
                      <th>Prdouct</th>
                      <th>Prdouct Name</th>
                      <th>Price</th>
                      <th>Quantity</th>
                      <th>Actions</th>
                      <th>Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="title-cartItems">
                      <td colspan="12">New Orders</td>
                    </tr>
                    <tr *ngFor="let item of cartItems">
                      <td><img class="img-fluid img-60" [src]="[item.ProductImg]" alt="produvrImage"></td>
                      <td>
                        <div class="product-name"><a
                            [routerLink]="['/products/product-details', item.ProductId]">{{item.ProductName}}</a></div>
                      </td>
                      <td>{{item.ProductPrice | currency}}</td>
                      <td>
                        <div class="qty-box">
                          <div class="input-group">
                            <i class="fa fa-minus btnGtr" (click)="decrement(item.ProductId)"></i>
                            <input class="touchspin1 text-center" name="quantity" type="text" disabled
                              [value]="item.Count">
                            <i class="fa fa-plus btnLess" (click)="increment(item.ProductId)"></i>
                          </div>
                        </div>
                      </td>
                      <td>
                        <i class="fa fa-remove remove" (click)="removeItem(item.ProductId)"></i>
                      </td>
                    
                      <td>{{ item.ProductPrice * item.Count | currency}}</td>
                    <tr>
                      <td class="total-amount" colspan="5">
                        <h6 class="m-0"> <span class="f-w-600">Total Price:</span></h6>
                      </td>
                      <td><span>{{ getTotal() | currency}} </span></td>
                    </tr>
                    <tr>
                      <td colspan="5"><a class="btn btn-primary cart-btn-transform"
                          [routerLink]="['/products']">continue shopping</a></td>
                      <td><a class="btn btn-primary cart-btn-transform" (click)="emptyCartItems()" [routerLink]="['/orders/checkout']">check
                          out</a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>