/* You can add global styles to this file, and also import other style files */
body {
    background-color: #121212 !important;
    color: #ccc !important;
}

.img-60{
    width: 60px !important;
  }
  .img-full{
      width: 100% !important;
  }

  .card{
    color: black !important;
    padding: 20px;
    margin: 20px 0;
    .card-header{
        background-color: white !important;
    }
}
